body {
    padding-top: 60px;
    padding-bottom: 40px;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.navbar {
    background-color: #005ce6;
}

.navbar-nav {
    color: white;
}

.navbar-brand {
    color: white;
}